@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    font-family: 'Ubuntu',sans-serif !important;
    background-color: aquamarine !important;
}

.contact-img{
    width: 150px;
    border-radius: 50%;
}

.contact-img-big{
    width: 200px;
    border-radius: 50%;
}